<p id="notice"><%= notice %></p>

<h1><center>Listing Patients</center></h1>

<table class='table-striped table table-bordered table-hover'>
  <thead  >
    <tr class="success">
      <th><center>First name</center></th>
      <th><center>Last name</center></th>
      <th><center>Email</center></th>
      <th><center>Phone</center></th>
      <th><center>Status</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><center><%= patient.first_name %></center></td>
        <td><center><%= patient.last_name %></center></td>
        <td><center><%= patient.email %></center></td>
        <td><center><%= patient.phone %></center></td>
        <td><center><%= patient.status %></center></td>
        <td><%= link_to 'Show', patient, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, class:"btn btn-danger",  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path,class:"btn btn-success" %><br><br> 
<%= link_to 'Doctors List', doctors_path,class:"btn btn-success" %>